[submodule "external/obs/version-control/scenes/collection_aoe2"]
	path = external/obs/version-control/scenes/collection_aoe2
	url = git@github.com:bro69noscope/obs-scene-collection_aoe2.git
[submodule "external/obs/version-control/scenes/collection_dota2"]
	path = external/obs/version-control/scenes/collection_dota2
	url = git@github.com:bro69noscope/obs-scene-collection_dota2.git
[submodule "external/streamerbot/version-control/vcdata"]
	path = external/streamerbot/version-control/vcdata
	url = git@github.com:bro69noscope/streamerbot-version-control.git
[submodule "external/streamdeck/version-control/vcdata"]
	path = external/streamdeck/version-control/vcdata
	url = git@github.com:bro69noscope/streamdeck-version-control.git
