[submodule "external/streamerbot/version-control/vcdata"]
	path = external/streamerbot/version-control/vcdata
	url = git@github.com:bro69noscope/streamerbot-version-control.git
[submodule "external/streamdeck/version-control/vcdata"]
	path = external/streamdeck/version-control/vcdata
	url = git@github.com:bro69noscope/streamdeck-version-control.git
[submodule "external/obs/version-control/vcdata"]
	path = external/obs/version-control/vcdata
	url = git@github.com:bro69noscope/obs-version-control.git
[submodule "external/streamelements/version-control/vcdata"]
	path = external/streamelements/version-control/vcdata
	url = git@github.com:bro69noscope/streamelements-version-control.git
